{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/drums/drum-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Drum List</h1>
  {% comment %} <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" /> {% endcomment %}
</section>

<section class="card-container">
  {% for drum in drums %}
    <div class="card">
      <a href="/drums/{{ drum.id }}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/drum.svg' %}" 
              alt="A drum"
            >
          </div>
          <h2 class="card-title">{{ drum.name }}</h2>
          <p>A {{ drum.type }} drum</p>
          <p><small>{{ cat.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}